.point {
  text-align:center;font-family:courier;font-weight:bold;font-size:10pt;
  border-radius:3pt;border-width:1px;border-style:solid;
  border-color:#B0B0B0;display:inline-block;padding:1.5pt 3pt 1pt 3pt;
}

.toasting {
  border-color:red;
  border-style:solid;
  border-width:1pt;
  text-align:left;
  border-radius:7px;
  z-index:8;
  background-color:#f0f0f0;
  position:absolute;
  visibility:hidden;
  padding:5pt 10pt;
}

.login, .logout {
  cursor:pointer;
  border-radius:5pt;
  text-align:middle;
  border-color:#a9a9a9;
  border-style:solid;
  border-width:1px;
  padding-left:7pt;
  padding-right:7pt;
}

.login {
  background:linear-gradient(to bottom, #d0f0d0, #f0fff0, #d0f0d0);
}

.logout {
  background:linear-gradient(to bottom, #ffe0d0, #fffff0, #ffe0d0);
}

.tftable {
  border-collapse:collapse;box-shadow:3pt 3pt 3pt #d0d0d0;
}

.tftable th {
  font-size:10pt;background:linear-gradient(to bottom, #eaeaea 14%,#fcfcfc 52%,#e5e5e5 89%);
  border-width:1px;padding:4pt 10pt 4pt 10pt;border-style:solid;border-color:#a9a9a9;
  text-align:center;font-family:Arial,'Liberation Sans',Verdana,'Bitstream Vera Sans','DejaVu Sans';
}

.tftable td {
  background-color:#ffffe0;font-size:11pt;border-width:1px;
  padding:4pt 8pt 4pt 8pt;border-style:solid;border-color:#a9a9a9;white-space:nowrap;
  font-family:Arial,'Liberation Sans',Verdana,'Bitstream Vera Sans','DejaVu Sans';
}

body {
  font-size:10pt;color:#000000;font-family:Verdana,'Bitstream Vera Sans','DejaVu Sans',Arial,'Liberation Sans';
}

a {
  font-weight:bold;font-size:8pt;color:blue;font-family:Arial,'Liberation Sans',Verdana,'Bitstream Vera Sans','DejaVu Sans';
  text-decoration:none;
}

li {
  padding-top:5pt
}

.tighttable td {
  font-size:8pt; 
}

.jsonbox {
  font-size:8pt;word-break:break-all;width:800pt;background:#f8f8f8;
  border-width:1px;border-style:solid;border-color:grey;padding:10pt;box-shadow:3pt 3pt 3pt #d0d0d0;
}

.quantity {
  text-align:right;font-weight:normal;font-size:10pt;font-family:Arial,'Liberation Sans',Verdana,'Bitstream Vera Sans','DejaVu Sans';
}

.header {
   padding-bottom:15pt;
   text-align:center;
   font-size:14pt;
}

.stdbtn, .multibtn {
  font-size:11pt;
  font-family:Arial,'Liberation Sans',Verdana,'Bitstream Vera Sans','DejaVu Sans';
  cursor:pointer;
  background:linear-gradient(to bottom, #eaeaea 14%,#fcfcfc 52%,#e5e5e5 89%);
  border-width:1px;
  border-style:solid;
  border-color:#a9a9a9;
  border-radius:5pt;
  padding:3pt 10pt;
  box-shadow:3pt 3pt 3pt #D0D0D0;
}

.stdbtn {
  display:inline-block;
}

.multibtn {
  margin-top:12pt;
}

html, body {
  margin:0px;padding:0px;height:100%;
}

@media (max-width:768px) {
  .login, .logout {
    font-size:8pt;
    border-radius:3pt;
  }

  .header {
    padding-bottom:10pt;
    font-size:12pt;
  }

  .tftable th {
    font-size:8pt;
    padding:3pt 6pt;
  }

  .tftable td {
    font-size:8pt;
    padding:3pt 5pt;
  }

  .product {
    width:100px;
  }

  code {
    font-size:8pt;
  }

  .toasting {
    font-weight:bolder;
    padding:3pt 7pt;
  }
}
