.point {
  text-align:center;font-family:courier;font-weight:bold;font-size:10pt;
  border-radius:3pt;border-width:1px;border-style:solid;
  border-color:#B0B0B0;display:inline-block;padding:1.5pt 3pt 1pt 3pt;
}

.egovlogo {
  cursor:pointer;
  position:absolute;
  top:12px;
  left:12px;
  visibility:visible;
  height:40pt;
  filter: drop-shadow(3pt 3pt 3pt #d0d0d0);
}

.toaster {
  border-color:red;
  border-style:solid;
  border-width:1pt;
  text-align:left;
  border-radius:7px;
  z-index:11;
  background-color:#f0f0f0;
  position:absolute;
  visibility:hidden;
  padding:5pt 10pt;
}

.login, .logout {
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  cursor:pointer;
  border-radius:5pt;
  vertical-align:middle;
  border-color:#a9a9a9;
  border-style:solid;
  border-width:1px;
  padding:3pt 7pt;
}

.login {
  background:linear-gradient(to bottom, #d0f0d0, #f0fff0, #d0f0d0);
}

.logout {
  margin-left:8pt;
  background:linear-gradient(to bottom, #ffe0d0, #fffff0, #ffe0d0);
}

.logouticon {
  height:40px;
}

.tftable {
  border-collapse:collapse;
  display:inline-block;
}

.tftable th, .tftable td {
  border-width:1px;
  border-style:solid;
  border-color:#a9a9a9;
  white-space:nowrap;
}

.tftable th {
  padding:4pt 10pt;
  background-color:#f8f8f8;
  text-align:center;
}

.tftable td {
  padding:4pt 8pt;
  background-color:#ffffe0;
  font-size:11pt;
  text-align:left;
}

.msgtable {
  border-collapse:collapse;
  display:inline-block;
  text-align:left;
}

body {
  margin:0pt;
  font-size:10pt;
  font-family:Verdana,'Bitstream Vera Sans','DejaVu Sans',Arial,'Liberation Sans';
}

.sessionview {
  position:absolute;
  visibility:hidden;
  z-index:10;
  background-color:white;
  border-width:1px;border-style:solid;border-color:#007fff;
}

a {
  color:#007fff;
  text-decoration:none;
}

li {
  padding-top:5pt
}

.tighttable td {
  font-size:8pt; 
}

.jsonbox {
  font-size:8pt;word-break:break-all;width:800pt;background:#f8f8f8;
  border-width:1px;border-style:solid;border-color:grey;padding:10pt;box-shadow:3pt 3pt 3pt #d0d0d0;
}

.quantity {
  text-align:right;font-weight:normal;font-size:10pt;font-family:Arial,'Liberation Sans',Verdana,'Bitstream Vera Sans','DejaVu Sans';
}

.dialog, .header {
  font-size:14pt;
}

.xicon {
  height:16pt;
  padding-right:1em;
  cursor:pointer;
}

.dialog {
  display:inline-block;
  vertical-align:middle;
}

.content {
  position:absolute;
  text-align:center;
  padding:5pt;
  visibility:hidden;
}

.header {
  padding-bottom:15pt;
}

.footer {
  padding-top:12pt;
}

.emailmsg {
   display:inline-block;
   text-align:left;
   margin-top:10pt;
}

.stdbtn, .multibtn {
  font-size:11pt;
  font-family:Arial,'Liberation Sans',Verdana,'Bitstream Vera Sans','DejaVu Sans';
  cursor:pointer;
  background:linear-gradient(to bottom, #eaeaea 14%,#fcfcfc 52%,#e5e5e5 89%);
  border-width:1px;
  border-style:solid;
  border-color:#a9a9a9;
  border-radius:5pt;
  padding:3pt 10pt;
}

.stdbtn, .multibtn, .login, .logout, .tftable, .loginbtn {
  box-shadow:3pt 3pt 3pt #d0d0d0;
}

.stdbtn {
  display:inline-block;
}

.multibtn {
  margin-top:12pt;
}

.loginbtn {
  display:inline-block;
  cursor:pointer;
  border-width:1px;
  border-style:solid;
  border-color:#a9a9a9;
  border-radius:5pt;
  height:14pt;
  padding:4pt 10pt;
}

.loginlogoutgroup {
  display:flex;
  position:absolute;
  top:15px;
  right:15px;
  z-index:6;
}

.sitefooter {
  display:flex;
  align-items:center;
  border-width:1px 0 0 0;
  border-style:solid;
  border-color:#a9a9a9;
  position:absolute;
  z-index:5;
  left:0px;
  bottom:0px;
  right:0px;
  background-color:#ffffe0;
  padding:0.3em 1em;
}

.uidheader {
  font-size:12pt;
  padding:15pt 4pt;
}

@media (max-width:768px) {

  .stdbtn, .multibtn, .login, .logout, .tftable, .loginbtn {
    box-shadow:2pt 2pt 2pt #d0d0d0;
  }

 .egovlogo {
   filter: drop-shadow(2pt 2pt 2pt #d0d0d0);
  }

  .logout {
    margin-left:6pt;
  }

  .xicon {
    height:12pt;
  }

 .logouticon {
   height:32px;
 }

  body {
    font-size:8pt;
  }

  .login, .logout {
    font-size:8pt;
    border-radius:3pt;
  }

  .header, .dialog {
    font-size:12pt;
  }
  
  .uidheader {
    font-size:10pt;
  }
  
  .header {
    padding-bottom:10pt;
  }
  
  .tftable th {
    font-size:8pt;
    padding:3pt 6pt;
  }

  .tftable td {
    font-size:8pt;
    padding:3pt 5pt;
  }

  .product {
    width:100px;
  }

  code {
    font-size:8pt;
  }

  .toaster {
    font-weight:bolder;
    padding:3pt 7pt;
  }
}
