<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

    <context-param>
        <description>Android WebPKI Version Check</description>
        <param-name>android_webpki_versions</param-name>
        <param-value>@android-webpki-versions@</param-value>
    </context-param>

    <context-param>
        <description>Key Password</description>
        <param-name>key_password</param-name>
        <param-value>@key-password@</param-value>
    </context-param>
 
    <context-param>
        <description>Loading of Bouncycastle (EJBCA or Tomcat)</description>
        <param-name>bouncycastle_first</param-name>
        <param-value>@bouncycastle-first@</param-value>
    </context-param>

    <context-param>
        <description>TLS certificate</description>
        <param-name>server_tls_certificate</param-name>
        <param-value>@server-tls-certificate@</param-value>
    </context-param>

    <context-param>
        <description>Logging</description>
        <param-name>logging</param-name>
        <param-value>@logging@</param-value>
    </context-param>

    <context-param>
        <description>Test URL</description>
        <param-name>test_url</param-name>
        <param-value>@test-url@</param-value>
    </context-param>

    <listener>
        <listener-class>org.webpki.mobileid.keyprovider.KeyProviderService</listener-class>
    </listener>

    <servlet>
        <servlet-name>AndroidBootstrapServlet</servlet-name>
        <servlet-class>org.webpki.mobileid.keyprovider.AndroidBootstrapServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>QRInitServlet</servlet-name>
        <servlet-class>org.webpki.mobileid.keyprovider.QRInitServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>KeyProviderServlet</servlet-name>
        <servlet-class>org.webpki.mobileid.keyprovider.KeyProviderServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>KeyProviderInitServlet</servlet-name>
        <servlet-class>org.webpki.mobileid.keyprovider.KeyProviderInitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AndroidBootstrapServlet</servlet-name>
        <url-pattern>/androidbootstrap</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QRInitServlet</servlet-name>
        <url-pattern>/qrinit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>KeyProviderServlet</servlet-name>
        <url-pattern>/getkeys</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>KeyProviderInitServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <security-constraint>
      <web-resource-collection>
        <web-resource-name>The app</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>
    
</web-app>
